.tablecontainer {
    background-color: white;
    padding: 20px;

}

table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 50%;
    justify-content: center;
    align-items: center;
    
  }

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }

.warning {
    color:red;
}

body {
    background-color: burlywood;
}

input {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 15px;
}

button {
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}